#define ZMK_POINTING_DEFAULT_SCRL_VAL 150

#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <175>;
};

&mmv {
    delay-ms = <20>;
    trigger-period-ms = <5>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <2>;
};

&msc {
    delay-ms = <3>;
    trigger-period-ms = <3>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <11 12>;
            timeout-ms = <40>;
        };

        shift_tab {
            bindings = <&kp TAB>;
            key-positions = <12 13>;
            timeout-ms = <40>;
        };

        back {
            bindings = <&kp LG(LEFT_ARROW)>;
            key-positions = <18 19>;
            timeout-ms = <40>;
        };

        next {
            bindings = <&kp LG(RIGHT_ARROW)>;
            key-positions = <19 20>;
            timeout-ms = <40>;
        };

        l-split {
            bindings = <&kp LS(LA(LC(LG(LEFT_BRACKET))))>;
            key-positions = <1 2>;
            timeout-ms = <40>;
        };

        r-split {
            bindings = <&kp LS(LA(LC(LG(RIGHT_BRACKET))))>;
            key-positions = <3 4>;
            timeout-ms = <40>;
        };

        full {
            bindings = <&kp LS(LA(LC(LG(EQUAL))))>;
            key-positions = <1 2 3>;
            timeout-ms = <50>;
        };

        exclamation {
            bindings = <&kp EXCLAMATION>;
            key-positions = <31 30>;
            timeout-ms = <40>;
        };

        question {
            bindings = <&kp QUESTION>;
            key-positions = <32 31>;
            timeout-ms = <40>;
        };

        pipe {
            bindings = <&kp PIPE>;
            key-positions = <5 6>;
            timeout-ms = <40>;
        };

        menu {
            bindings = <&kp BACKSLASH>;
            key-positions = <8 9>;
            timeout-ms = <40>;
        };

        half {
            bindings = <&kp LA(LS(LC(LG(B))))>;
            key-positions = <2 4 3>;
            timeout-ms = <50>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q                   &kp W                    &kp E                    &kp R         &kp T                                                                       &kp Y          &kp U  &lt 3 I                        &kp O                &kp P
&mt LCTRL A             &kp S                    &kp D                    &lt 4 F       &kp G               &kp LS(LG(LC(LA(F15))))        &kp LA(LS(LC(LG(F13))))  &kp H          &kp J  &kp K                          &mt RIGHT_CONTROL L  &lt 1 ENTER
&kp Z                   &kp X                    &kp C                    &kp V         &kp B               &kp LS(LG(LC(LA(F16))))        &kp LS(LA(LC(LG(F14))))  &kp N          &kp M  &mt LA(LC(LG(LS(F17)))) COMMA  &kp DOT              &lt 2 MINUS
&kp LS(LC(LA(LG(F1))))  &kp LA(LS(LC(LG(F12))))  &kp LS(LA(LC(LG(F11))))  &kp LEFT_ALT  &mt LEFT_GUI SPACE  &mt LEFT_SHIFT LANGUAGE_2      &mt RIGHT_GUI LANG1      &kp BACKSPACE                                                             &mt LS(LA(LC(LG(F2)))) ESCAPE
            >;
        };

        NUM {
            bindings = <
&kp KP_MINUS               &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_PLUS                                                &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES  &kp AT_SIGN
&mt LEFT_CONTROL KP_SLASH  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_ASTERISK  &kp LC(LA(KP_NUMBER_0))      &kp PERCENT  &kp LEFT_ARROW        &kp DOWN_ARROW         &kp UP_ARROW      &kp RIGHT_ARROW    &trans
&kp KP_NUMBER_0            &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_DOT       &kp KP_EQUAL                 &kp COLON    &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp LESS_THAN     &kp GREATER_THAN   &kp AMPERSAND
&trans                     &trans           &trans           &trans           &trans           &trans                       &trans       &trans                                                                            &trans
            >;
        };

        FUNCTION {
            bindings = <
&trans  &kp F7  &kp F8  &kp F9  &trans                      &trans  &trans                 &kp LS(LA(LC(LG(I))))  &kp LS(LA(LC(LG(O))))  &trans
&trans  &kp F4  &kp F5  &kp F6  &trans  &trans      &trans  &trans  &kp LS(LA(LC(LG(J))))  &kp LS(LA(LC(LG(K))))  &kp LS(LA(LC(LG(L))))  &trans
&trans  &kp F1  &kp F2  &kp F3  &trans  &trans      &trans  &trans  &trans                 &trans                 &trans                 &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                                                       &trans
            >;
        };

        SCROLL {
            bindings = <
&trans                &kp LA(LG(NUMBER_7))  &kp LA(LG(NUMBER_8))  &kp LA(LG(NUMBER_9))  &trans                      &trans  &trans  &trans  &trans  &trans
&trans                &kp LA(LG(NUMBER_4))  &kp LA(LG(NUMBER_5))  &kp LA(LG(NUMBER_6))  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&kp LA(LG(NUMBER_0))  &kp LG(LA(NUMBER_1))  &kp LA(LG(NUMBER_2))  &kp LA(LG(NUMBER_3))  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans                &trans                &trans                &trans                &trans  &trans      &trans  &trans                          &trans
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                &trans
            >;
        };
    };
};
